**/node_modules

packages/front/.react-router
packages/front/build
packages/front/docker

packages/pentatrion-design/dist
packages/pentatrion-design/.storybook
packages/pentatrion-design/.legacy

README.md